body {
  background-color: #000;
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}


.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}


.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/196642/pexels-photo-196642.jpeg?w=1920&h=1280&auto=compress&cs=tinysrgb) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/247594/pexels-photo-247594.jpeg?w=2201&h=1467&auto=compress&cs=tinysrgb);
  animation-delay: 8s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/462342/pexels-photo-462342.jpeg?w=1920&h=1280&auto=compress&cs=tinysrgb);
  animation-delay: 16s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/161923/osaka-castle-japan-five-osaka-161923.jpeg?w=1920&h=1280&auto=compress&cs=tinysrgb);
  animation-delay: 24s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/460376/pexels-photo-460376.jpeg?w=1920&h=1280&auto=compress&cs=tinysrgb);
  animation-delay: 32s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
